{% extends 'base.html' %}

{% block body %}
 <!-- main content area start -->
 <div class="main-content ">
  <!-- header area start -->
  <div class="header-area">
      <div class="row align-items-center">
          <!-- nav and search button -->
          <div class="col-md-6 col-sm-8 clearfix">
               
              <div class="search-box pull-left logo">
                 <img src="{{ url_for('static', filename='assets/images/icon/logo.png') }}" alt="Logo for INR" width="250">
                 <a rel="noreferrer" accesskey="d" href="https://design4green.org/"><img src="{{ url_for('static', filename='assets/images/icon/design4GreenLogo1.png') }}" alt="Design for Green Logo" width="250"></a>
              </div>
          </div>
          <!-- profile info & task notification -->
          <div class="col-md-6 col-sm-4 clearfix">
              <ul class="notification-area pull-right">
                  <li id="full-view"><i class="fa fa-window-maximize" aria-hidden="true"></i>
                  </li>
                  <li id="full-view-exit"> <i class="fa fa-search-minus" aria-hidden="true"></i>
                  </li>
                  <li class="dropdown">
                      <a  rel="noreferrer"href="https://www.isit-academy.org/" target="_blank" accesskey="i"><i class="fa fa-book"  aria-hidden="true"><span>IIST ACADEMY</span></i></a>                                 
                  </li>

                   <li class="dropdown">
                      <a rel="noreferrer" title="Mail to fragilitenumerique@institutnr.org" href="mailto:fragilitenumerique@institutnr.org" accesskey="m"><i   aria-hidden="true" class="fa fa-envelope-o" ></i></a>                                 
                  </li>
                  <li class="dropdown">
                      <a rel="noreferrer" title="LinkedIn Institute NR" href="https://www.linkedin.com/company/institutnr" target="_blank" accesskey="l"><i   aria-hidden="true" class="fa fa-linkedin"></i></a>                                 
                  </li> 
              </ul>
          </div>
      </div>
  </div>
  <!-- header area end -->
  <!-- page title area start -->
  <div class="page-title-area">
      <div class="row align-items-center">
          <div class="col-sm-12 p-2">
              <div class="breadcrumbs-area clearfix">
                  <h4 class="page-title pull-left">Filters :</h4>
                  <div class="row">
                      <div class="form-group col-md-3">
                          <label for="inputRegion">Region</label>
                          <select id="inputRegion" class="form-control">
                            <option value="ALL">ALL</option>
                            {% for user in req["region"] %}
                            <option value="{{user}}">{{user}}</option>
                           {% endfor %}
                              
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputDepartment">Department</label>
                          <select id="inputDepartment" class="form-control" disabled>
                              <option value="ALL">ALL</option>
                                
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputInterCommunalities">Intercommunalities</label>
                          <select id="inputInterCommunalities" class="form-control" disabled>
                              <option value="ALL">ALL</option>

                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputCommune">Commune</label>
                          <select id="inputCommune" class="form-control" disabled>
                              <option value="ALL">ALL</option> 
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputChoice">choix de point références</label>
                          <select id="inputChoice" class="form-control">
                            <option value="Region" selected>Region</option>
                            <option value="Department">Department</option>
                            <option value="Intercommunalities">Intercommunalities</option>
                          </select>
                      </div>
                      
                      <div class="form-group col-md-3">
                          <label for="inputDonnes">données_infra_communales</label>
                          <select id="inputDonnes" class="form-control">
                              <option value="Non" selected>Non</option>
                              <option value="Oui">Oui</option> 
                          </select>
                      </div>
                  </div>  
              
              </div>
          </div>
          
      </div>
  </div>
  <!-- page title area end -->
   
  <div class="main-content-inner">
      <div class="row">
        <div class="col-4 mt-5">
            <div class="row">
                
                <div id='chart' style='width: 95%; height:300px;'></div><br/><br/>
              </div>
              
              <script>
                var data={{data|tojson|safe}};       
              </script>

          </div>
           
          <!-- Dark table start -->
          <div class="col-8 mt-5">
              <div class="card">
                  <div class="card-body">
                      <h4 class="header-title">Indice de Fragilite Numerique </h4>
                      <div class="data-tables datatable-dark">
                           <table id="dataTable3" class="stripe row-border order-column" style="width:100%">
                            <thead>
                              <tr>
                                <th>Nom Com</th>
                                <th>Code Iris</th>
                                <th>Rank of ScoreGlobal</th>
                                <th>Nom Iris</th>
                                <th>Population</th>
                                <th>Score Global</th>
                                <th>ACCÈS AUX INTERFACES NUMERIQUES</th>
                                <th>ACCES A L'INFORMATION</th>
                                <th>COMPETENCES ADMINISTATIVES</th>
                                <th>COMPÉTENCES NUMÉRIQUES / SCOLAIRES</th>
                                <th>GLOBAL ACCES</th>
                                <th>GLOBAL COMPETENCES</th>
                              </tr>
                            </thead> 
                      </table>

                           
                      </div>
                  </div>
              </div>
          </div>
          <!-- Dark table end -->
      </div>
  </div>
</div>
</div> 
<!-- main content area end -->

{% endblock %}