
{% extends 'base.html' %}

{% block body %}

<div class="starter-template">
  <h1>Bootstrap starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>

  
  <body>
  
  
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="background-color:pink;">
        </div>
        <div class="col-md-8">
          <table id="example" class="table table-striped table-bordered" style = "overflow-y: scroll">
            <thead>
              <tr>
                <th>Nom Com</th>
                <th>Code Iris</th>
                <th>Rank of ScoreGlobal</th>
                <th>Nom Iris</th>
                <th>Population</th>
                <th>Score Global</th>
                <th>Acces Aux_interfaces_numeriques_intercommunalite</th>
                <th>Access Al_information_intercommunalite</th>
                <th>competences_administative_intercommunalite</th>
                <th>competence_numeriques_intercommunalite</th>
                <th>global_access_intercommunalite</th>
                <th>global_competence_intercommunalite</th>
               
              </tr>
            </thead>
        
            <tfoot>
              <tr>
                <th>Nom Com</th>
                <th>Code Iris</th>
                <th>Rank of ScoreGlobal</th>
                <th>Nom Iris</th>
                <th>Population</th>
                <th>Score Global</th>
                <th>Acces Aux_interfaces_numeriques_intercommunalite</th>
                <th>Access Al_information_intercommunalite</th>
                <th>competences_administative_intercommunalite</th>
                <th>competence_numeriques_intercommunalite</th>
                <th>global_access_intercommunalite</th>
                <th>global_competence_intercommunalite</th>
              </tr>
            </tfoot>
        </table>
      </div> 
     
    </div>
  </div>
  
  </body>


  {% endblock %}