{% extends 'base.html' %}

{% block body %}
 <!-- main content area start -->
 <div class="main-content ">
  <!-- header area start -->
  <div class="header-area">
      <div class="row align-items-center">
          <!-- nav and search button -->
          <div class="col-md-6 col-sm-8 clearfix">
               
              <div class="search-box pull-left logo">
                 <img src="{{ url_for('static', filename='assets/images/icon/logo.png') }}" alt="Logo" width="250">
                 <a href="https://design4green.org/"><img src="{{ url_for('static', filename='assets/images/icon/design4GreenLogo1.png') }}" alt="Logo" width="250"></a>
              </div>
          </div>
          <!-- profile info & task notification -->
          <div class="col-md-6 col-sm-4 clearfix">
              <ul class="notification-area pull-right">
                  <li id="full-view"><i class="ti-fullscreen"></i></li>
                  <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                  <li class="dropdown">
                      <a href="https://www.isit-academy.org/" target="_blank"><i class="fa fa-book"><span>IIST ACADEMY</span></i></a>                                 
                  </li>

                   <li class="dropdown">
                      <a href="mailto:fragilitenumerique@institutnr.org"><i class="fa fa-envelope-o" ></i></a>                                 
                  </li>
                  <li class="dropdown">
                      <a href="https://www.linkedin.com/company/institutnr" target="_blank"><i class="fa fa-linkedin"></i></a>                                 
                  </li> 
              </ul>
          </div>
      </div>
  </div>
  <!-- header area end -->
  <!-- page title area start -->
  <div class="page-title-area">
      <div class="row align-items-center">
          <div class="col-sm-12 p-2">
              <div class="breadcrumbs-area clearfix">
                  <h4 class="page-title pull-left">Filters :</h4>
                  <div class="row">
                      <div class="form-group col-md-3">
                          <label for="inputRegion">Region</label>
                          <select id="inputRegion" class="form-control">
                            <option value="ALL">ALL</option>
                            {% for user in req["region"] %}
                            <option value="{{user}}">{{user}}</option>
                           {% endfor %}
                              
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputDepartment">Department</label>
                          <select id="inputDepartment" class="form-control" disabled>
                              <option value="ALL">ALL</option>
                                
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputInterCommunalities">Intercommunalities</label>
                          <select id="inputInterCommunalities" class="form-control" disabled>
                              <option value="ALL">ALL</option>

                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputCommune">Commune</label>
                          <select id="inputCommune" class="form-control" disabled>
                              <option value="ALL">ALL</option> 
                            </select>
                      </div>
                      <div class="form-group col-md-3">
                          <label for="inputChoice">choix de point références</label>
                          <select id="inputChoice" class="form-control">
                            <option value="Region" selected>Region</option>
                            <option value="Department">Department</option>
                            <option value="Intercommunalities">Intercommunalities</option>
                          </select>
                      </div>
                      
                      <div class="form-group col-md-3">
                          <label for="inputChoice">données_infra_communales</label>
                          <select id="inputDonnes" class="form-control">
                              <option value="Non" selected>Non</option>
                              <option value="Oui">Oui</option> 
                          </select>
                      </div>
                  </div>  
              
              </div>
          </div>
          
      </div>
  </div>
  <!-- page title area end -->
   
  <div class="main-content-inner">
      <div class="row">
        <div class="col-4 mt-5">
            <div class="row">
                
                <div id='chart' style='width: 95%; height:300px;'></div><br/><br/>
              </div>
              
              <script>
                var data1={{data|tojson|safe}};  
                function getTableData(table) 
                {

                    const dataArray = [],
                    NomArray = [],
                    populationArray = [],
                    ScoreGlobalArray = [];
   
                    // loop table rows
                    //table.rows({ search: "applied" }).every(function() {
                    //const data = this.data();
                    for (d in data1['Final_result'])
                    {
                    NomArray.push(data1['Final_result'][d]["Nom Com"]);
                    populationArray.push(data1['Final_result'][d]["population"]); 
                    ScoreGlobalArray.push(data1['Final_result'][d]["Score Global"]); 
                    
                    //NomArray.push(data.Final_result['Nom Com']);
                    //populationArray.push(data[3]);
                    //ScoreGlobalArray.push(data[4]);
                    }
 
   
                    // store all data in dataArray
                    dataArray.push(NomArray, populationArray, ScoreGlobalArray);
                   
                    return dataArray;
                }

                function createHighcharts(data) {
                    Highcharts.setOptions({
                        lang: {
                        thousandsSep: ","
                        }
                    });
                    Highcharts.chart("chart", {
                        title: {
                        text: "Charts"
                        },
                    xAxis: [
                    {
                        categories: data1['Final_result'][0]["Nom Com"],
                        labels: {
                        rotation: -45
                        }
                    }
                    ],
                    yAxis: [
                    {
                        // first yaxis
                        title: {
                        text: "Nom Com"
                        }
                    },
                    {
                        // secondary yaxis
                        title: {
                        text: "Global Score"
                        },
                        min: 0,
                        opposite: true
                    }
                    ],
                    series: [
                    {
                        name: "Population",
                        color: "#0071A7",
                        type: "column",
                        data: data1['Final_result'][0]["population"],
                        tooltip: {
                            valueSuffix: " M"
                        }
                    },
                    {
                        name: "Global Score",
                        color: "#FF404E",
                        type: "spline",
                        data: data1['Final_result'][0]["Score Global"],
                        yAxis: 1
                    }
                    ],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        backgroundColor: "#ececec",
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    noData: {
                        style: {
                        fontSize: "16px"
                        }
                    }
                });
            }
            function setTableEvents(table) {
  // listen for page clicks
  table.on("page", () => {
    draw = true;
  });
 
  // listen for updates and adjust the chart accordingly
  table.on("draw", () => {
    if (draw) {
      draw = false;
    } else {
      const tableData = getTableData(table);
      createHighcharts(tableData);
    }
  });
}
    
              </script>

          </div>
           
          <!-- Dark table start -->
          <div class="col-8 mt-5">
              <div class="card">
                  <div class="card-body">
                      <h4 class="header-title">Indice de Fragilite Numerique </h4>
                      <div class="data-tables datatable-dark">
                           <table id="dataTable3" class="stripe row-border order-column" style="width:100%">
                            <thead>
                              <tr>
                                <th>Nom Com</th>
                                <th>Code Iris</th>
                                <th>Rank of ScoreGlobal</th>
                                <th>Nom Iris</th>
                                <th>Population</th>
                                <th>Score Global</th>
                                <th>Acces Aux_interfaces_numeriques_intercommunalite</th>
                                <th>Access Al_information_intercommunalite</th>
                                <th>competences_administative_intercommunalite</th>
                                <th>competence_numeriques_intercommunalite</th>
                                <th>global_access_intercommunalite</th>
                                <th>global_competence_intercommunalite</th>
                              </tr>
                            </thead> 
                      </table>

                           
                      </div>
                  </div>
              </div>
          </div>
          <!-- Dark table end -->
      </div>
  </div>
</div>
</div> 
<!-- main content area end -->

{% endblock %}